<ul class="icons">
    <li><a href="https://twitter.com/overington" class="icon brands style{{ include.style | default: '2' }} fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.linkedin.com/in/scoverington" class="icon brands style{{ include.style | default: '2' }} fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a href="https://mathstodon.xyz/@overington" class="icon brands style{{ include.style | default: '2' }} fa-mastodon"><span class="label">Mastodon</span></a></li>
    <li><a href="https://github.com/overington" class="icon brands style{{ include.style | default: '2' }} fa-github"><span class="label">Github</span></a></li>
    <li><a href="https://www.instagram.com/hybrideating/" class="icon brands style{{ include.style | default: '2' }} fa-instagram"><span class="label">Instagram</span></a></li>
</ul>